body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
#navbar {
    background-color: #343a40;
}
.navbar-brand {
    color: #ffffff;
}
.navbar-nav .nav-link {
    color: #ffffff;
}
.home {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20240729/pngtree-the-place-de-la-concorde-is-one-of-the-major-public-image_15933423.jpg');
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background-size: cover;
}
.home .content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
.book, .packages, .services, .gallary, .about {
    padding: 60px 0;
}
.card {
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
#footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.social-links i {
    margin: 0 10px;
    color: white;
    font-size: 20px;
}
.credit, .copyright {
    margin: 10px 0;
}